p.para-header {
    font-family: 'Lato', sans-serif;

}

.pointer:hover {
	cursor: pointer;
}

#modal-footer {
	text-align: center;
}

#requirements {
	list-style-type: circle;
}

.mySlides {
	border: dotted gray 1px;
}

#modal-footer > p {
	color: gray;
    font-size: 20px;
}

#second-img,
#third-img {
	display: none;
}

.shadow {
	border-radius: 5%;
}

.shadow:hover {
    box-shadow: 10px 10px 5px #888888;
}


.w3-hover-opacity {
	/*class for making elements lose opacity when hover*/
}

.para-header > a {
	text-decoration: none;
	color: #4127bd;
}

.para-header > a:hover {
	text-decoration: underline;
}

.para-header > a:active {
	opacity: .5;
	font-size: 18px;
}


#thinkful > img {
	width: 135px;
	margin-left: -12px;
}


 #thinkful {
 	margin-top: 0px;
 }


.w3-row-padding p:first-child:hover {
	cursor: pointer;
}

.w3-row-padding p:first-child:active {
	opacity: .5;
}

.w3-row-padding p:first-child > i {
	text-align: right;
 	margin-left: 9px;
}

 .w3-row-padding p + p { /*means the p next to it.*/
 	display: none;
 }
.text-center {
	text-align: center;
}

.image-fade:hover {
	opacity: .5;
}


/*ANIMATIONS*/

main.ng-enter {
	transition: 0.5s linear all;
	opacity: 0;
}

main.ng-enter.ng-enter-active {
	opacity: 1;
}


main.ng-leave {
  transition: 0.2s linear all;
  opacity: 1;
  transform: translateX(0p);
}

/* The finishing CSS styles for the enter animation */
main.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}
