<!DOCTYPE html>
<html ng-app="portfolio">
<head>
  <title>Trey Rader</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/flavicon2.png">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="flavicon.png">
  <link rel="stylesheet" href="css/w3Styles.css">
  <link rel="stylesheet" href="css/myStyles.css" type="text/css">
</head>


<body ng-controller="MainCtrl">

  <nav ng-include="'views/navigation.html'"></nav>
<!-- Page Content -->
<div class="w3-main w3-padding-large">

  <!-- Menu icon to open sidenav -->
  <span class="w3-opennav w3-top w3-padding-top w3-xxlarge w3-margin-right w3-text-grey w3-hover-text-black" style="width:auto;right:0;" ng-click="openNav()"><i class="fa fa-bars"></i></span>

  <header ng-include="'views/header.html'"></header>

  <main ng-view></main>

  <section ng-include="'views/pagination.html'"></section>

  <!--modal-->
  <div id="modal" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">

        <span class="w3-closebtn" ng-click="closeModal()">&times;</span>
        <ul id="list"></ul>
        <div id="modal-footer">
          <p>Click on image for live preview of app</p>
        </div>
        <p><strong>Project requirements:</strong></p>
        <ul class="" id="requirements">
        
        </ul>
      </div>
    </div>
  </div>

  <section id="about" ng-include="'views/about.html'"></section>

  <section ng-include="'views/references.html'"></section>
    
  <section ng-include="'views/contact.html'"></section>
  
  <footer ng-include="'views/footer.html'"></footer>
  
</div>





    



 <!--jqueryUI & jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

    

 <!--angular libraries-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>

    <!--angular modules-->
    <script src="./app.js"></script>

    <!--controllers-->
    <script src="controllers/mainCtrl.js"></script>


   



</body>
</html>

