 <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32">
    <h2>About</h2>
    <hr class="w3-opacity">
    <p>Hello, I'm Trey and I love playing piano, learning, connecting with others through meaningful conversations, and manifesting adventures, both exciting and crazy. A most recent love of mine has been exploring the vastness of web technology. As of March, 2016, I have been living, thinking, and dreaming nothing but web, while thoroughly enjoying every minute of it.</p>
    <p>Aside from traveling and playing piano in dimly-lit dives and clubs, it'd be a dream come true to write code for a living. Like music, coding is a skill that requires a lifetime to master and perfect. This challenging aspect of it is one of the main appeals about learning to code, and I'm equally excited as I am curious to see what new langauge or framework I'll learn next. </p>
    <p></p>
    <h3 class="w3-padding-16">My Skills</h3>
    <div class="w3-padding">
      
</div>