<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
    <a href="https://github.com/treyrader11" target="_blank"><i class="fa fa-github w3-hover-text-yellow"></i></a>
    <a href="https://plus.google.com/109183340984233982420" target="_blank"><i class="fa fa-google-plus w3-hover-text-red"></i></a>
    <a href="https://www.linkedin.com/in/trey-rader-020854129?trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin w3-hover-text-indigo"></i></a>
</footer>
