<!-- Header -->
  <header class="w3-container w3-padding-128 w3-center" id="home">
    <h1 class="w3-jumbo"><b>Trey Rader</b></h1>
    <p>Front-end Web Developer</p>
    <img src="images/mainPortrait.jpg" class="w3-image w3-hide-large w3-hide-small w3-round" style="display:block;width:60%;margin:auto;">
    <a href="resume.pdf" target="_blank">
    	<button class="w3-btn w3-light-grey w3-padding-large w3-margin-top">
      		<i class="fa fa-download"></i> Download Resume
    	</button>
    </a>
  </header>


