<!-- Sidenav with image -->
<nav class="w3-sidenav w3-hide-medium w3-hide-small" style="width:40%">
	<div class="bgimg"></div>
</nav>

<!-- Hidden Sidenav (reveals when clicked on menu icon)-->
<nav class="w3-sidenav w3-black w3-animate-right w3-center w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidenav">
  <a href="javascript:void(0)" ng-click="closeNav()" class="w3-closenav w3-xxxlarge w3-display-topright" style="padding:0 12px;">
    <i class="fa fa-remove"></i>
  </a>
  <a href="#home" class="w3-text-grey w3-hover-black" ng-click="closeNav()">Home</a>
  <a href="#portfolio" class="w3-text-grey w3-hover-black" ng-click="closeNav()">Portfolio</a>
  <a href="#about" class="w3-text-grey w3-hover-black" ng-click="closeNav()">About</a>
  <a href="#contact" class="w3-text-grey w3-hover-black" ng-click="closeNav()">Contact</a>
</nav>