<!-- Portfolio Section -->
 
<div class="w3-padding-32 w3-content" ng-controller="MainCtrl" id="portfolio">

  <div class="w3-container">
    <div id="thinkful">
      <img src="http://www.raykanani.com/img/Thinkful-logo.png">
    </div>
    <h2><b>My Portfolio: </b><em>Frontend Web Development</em></h2>
    <p class="para-header">Below are most of my projects for the Thinkful FEWD career path course. All source code is available <a href="https://github.com/treyrader11" target="_blank">here</span></a>.</p>
    <p class="para-header">Click on the images and image titles to read more.</p>
  </div>
  <br/>


  <!--<h2 class="w3-text-grey">My Portfolio</h2><br/>-->
<!-- First Photo Grid-->
  <div class="w3-row-padding"> <!--row 1-->
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="http://i.imgur.com/4BsdaE8.png" style="width:100%" class="shadow pointer modal-image" data-modal-image="http://i.imgur.com/4BsdaE8.png" data-modal-href="https://treyrader11.github.io/street-fighter/" data-requirements='<li>Need to add code to app.js that will cause Ryu to switch to his "looking cool" pose when the user presses the "x" key.</li><li>When the user releases "x", Ryu should go back to standing still.</li><li>Provide some text in the .main container div that tells users how to control Ryu.</li><li>Add music that will be paused when a specific key is held down.</li>'>
      <div class="w3-container w3-white">
        <p class="app-title"><b>Streetfighter App</b><i class="fa fa-caret-down"></i></p>
        <p>This project brings together DOM manipulation, events and effects, while building a Street Fighter themed interactive web page. The purpose is to practice using the jQuery API and get a better sense of what the workflow might look like when using jQuery for interactive effects on a web page.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="http://i.imgur.com/A3IzMuZ.png" style="width:100%" class="pointer shadow modal-image" data-modal-image="http://i.imgur.com/A3IzMuZ.png" data-modal-href="https://treyrader11.github.io/TheShoppingList/" data-requirements="<li>Users should be able to enter items they need to purchase.</li><li>Users should be able to check and uncheck items on the list.</li><li>Users should also be able to permanently remove items from the list.</li>">
      <div class="w3-container w3-white">
        <p class="app-title"><b>The Shopping List</b><i class="fa fa-caret-down"></i></p>
        <p>My first project I designed and coded from scratch. The purpose is for students to practice designing and wireframing, appling HTML, styling with CSS, and using jQuery events to add interactive behavior.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="http://i.imgur.com/gJRErNM.png" style="width:100%" class="shadow pointer modal-image" data-modal-image="http://i.imgur.com/gJRErNM.png" data-modal-href="https://treyrader11.github.io/hot-or-cold/" data-requirements="<li>Must use the HTML and CSS already supplied.</li><li>When the page loads, JavaScript should start a new game.</li><li>When a new game starts, a secret number between 1 and 100 should be generated that the user will have to guess.</li><li>The user should get feedback about each guess – if it was too low, too high, or just right.</li>">
      <div class="w3-container w3-white">
        <div class="w3-container w3-white">
          <p class="app-title"><b>Hot or Cold</b><i class="fa fa-caret-down"></i></p>
          <p>Applying functions and jQuery to build a "Hot or Cold" game. In this game, the computer randomly selects a number between 1 and 100, and the player then tries to guess the number. The player gets feedback for each guess - "hot" if their guess was close, and "cold" if their guess was far.</p>
        </div>
      </div>
    </div>
  </div>
     
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding"> <!--row 2-->
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="http://i.imgur.com/tMMjMOE.png" style="width:100%" class="shadow pointer modal-image" data-modal-image="http://i.imgur.com/tMMjMOE.png" data-modal-href="https://treyrader11.github.io/Cajun-Quiz/" data-requirements="<li>User must answer at least five questions.</li><li>Each question must display one at a time.</li><li>Must tell the user each question's number and how many questions remain.</li><li>Must Compare the user's answer with the correct answer to determine a score.</li><li>Must display the user's final score once all questions have been answered.</li><li>Must use objects to represent the questions and answers.</li>">
      <div class="w3-container w3-white">
        <div class="w3-container w3-white">
          <p class="app-title"><b>Cajun Music Quiz</b><i class="fa fa-caret-down"></i></p>
          <p>An interactive quiz app built from scratch that focuses on object literals.</p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-container w3-margin-bottom">
      <img src="http://i.imgur.com/aaWkX6P.png" ng-click="showModal($index)" style="width:100%" class="shadow pointer modal-image" data-modal-image="http://i.imgur.com/aaWkX6P.png" data-modal-href="https://treyrader11.github.io/tic-tac-toe/" data-requirements="<li>Each click on the board should alternate between X and O until someone wins or the game ends in a tie.</li><li>Ensure that your code is DRY, readable, formatted consistently, etc.</li><li>The code should work on the latest versions of Chrome, Firefox & Safari.</li>">
      <div class="w3-container w3-white">
        <p class="app-title"><b>Tic Tac Toe</b><i class="fa fa-caret-down"></i></p>
        <p>A Tic tac Toe game designed and coded from scratch using jQuery, and later refactored so to be more object-oriented.</p>
      </div>
    </div>

    <div class="w3-third w3-container">
      <img src="http://i.imgur.com/jAUKfgk.png" style="width:100%" class="shadow pointer modal-image" data-modal-image="http://i.imgur.com/jAUKfgk.png" data-modal-href="https://treyrader11.github.io/LYRUS/" data-requirements="<li>Must make use of a third-party API and use the results to change the DOM.</li><li>Must plan your app in detail before you start building.</li><li>Try making your project responsive using media queries.</li>">
      <div class="w3-container w3-white">
        <div class="w3-container w3-white">
          <p class="app-title"><b>LYRUS Music App</b><i class="fa fa-caret-down"></i></p>
          <p>An app that brings together everything I learned about HTML, CSS, JavaScript, jQuery, and AJAX in a single capstone project, an API hack. It is meant for the student to gain experience researching RESTful APIs and designing client-side applications to interface with them, and see a project through from ideation to implementation.</p>
        </div>
      </div>
    </div>
  </div>


 <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <ul class="w3-pagination">
      <li><a class="w3-black" href="#">1</a></li>
      <li><a class="w3-hover-black" href="#">2</a></li>
      <li><a class="w3-hover-black" href="#">3</a></li>
      <li><a class="w3-hover-black" href="#">4</a></li>
      <li><a class="w3-hover-black" href="#">»</a></li>
    </ul>
  </div>


<!--modal-->
  <div id="modal" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">

        <span class="w3-closebtn" ng-click="closeModal()">&times;</span>
        <ul id="list"></ul>
        <div id="modal-footer">
          <p>Click on image for live preview of app</p>
        </div>
        <p><strong>Project requirements:</strong></p>
        <ul class="" id="requirements">
        
        </ul>
      </div>
    </div>
  </div>
</div>