<!-- Testimonials -->
    <h3 class="w3-padding-24">My Reputation</h3>
    <img src="images/daniel_photo.JPG" alt="Daniel" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Daniel DeKerlegand.</span> Software Developer for Torsh.co.</p>
    <p>Trey is an ideal candidate for a software development position. He is a disciplined researcher, a creative thinker, and an organized engineer. He will certainly benefit any development team with his intelligence, skill, and collaborative spirit.</p><br>
   
    <img src="images/michelle.png" alt="Michelle" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Michelle Colon.</span> Copywriter for Potenza Creative.</p>
    <p>Working with Trey has been one of the most enriching experiences for me. He is highly intuitive and his learning capacity is evident when he either plays music or designs a state-of-the-art website. His attention to detail is dependable and he is highly collaborative, and that communication is what has allowed for us to work successfully.</p><br>
    
    <img src="images/wilson.jpg" alt="Wilson" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Wilson Savoy.</span> Musician and Manager at Pine Leaf Boys.</p>
    <p>Trey Rader has a gift for focusing intently on a skill and mastering it within a short period of time.</p><br>